<!DOCTYPE html>
<html lang="en">
<head>
  <!-- These styles are only used by cytoscape for altering the appearance of the graph -->
  <style>
    .nolabel{
      content:"";
    }
  </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Graph Zoom</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />

  <!-- Load all of the scripts needed -->
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script> </script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/cytoscape.js')}}"></script>
  <script src="{{url_for('static', filename='js/cytoscape-grid-guide.js')}}"></script>
  <script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
  <script src="{{url_for('static', filename='js/require.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
  <style>
  .navbar{
    margin-bottom:0;
    border-radius:0;
  }
  </style>
</head>
<body style="height:100vh;" onload="start();">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- File dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            File
          </a>
          <div class="dropdown-menu" aria-labelledby="menuDropdown">
            <a class="dropdown-item" href="#" onclick="saveGraph();">Save graph</a>
            <input id="file-input" type="file" name="name" style="display: none;" />
            <a class="dropdown-item" href="#" onclick="loadGraph();">Load graph</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" onclick="alert("Not yet implemented!");">New graph</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" onclick="shutdownServer();">Quit</a>
          </div>
        </li>
        <!-- Elements dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="elementsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Elements
          </a>
          <div class="dropdown-menu" aria-labelledby="elementsDropdown">
            <a class="dropdown-item" href="#" onclick="addNewNode();">Add node</a>
            <a class="dropdown-item" href="#" onclick="addNewEdge();">Add edge</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" onclick="deleteElement()">Delete selected elements</a>
          </div>
        </li>
        <!-- Operations dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="operationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Operations
          </a>
          <div class="dropdown-menu" aria-labelledby="operationsDropdown">
            <a class="dropdown-item" href="#">Dilate</a>
            <a class="dropdown-item" href="#">Erode</a>
            <a class="dropdown-item" href="#">Open</a>
            <a class="dropdown-item" href="#">Close</a>
          </div>
        </li>
        <!-- Options dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="optionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="optionsDropdown">
            <div class="form-check">
              <label>
                <input id="optionsShowNodeLabelsCheckbox"type="checkbox" value="" onchange="changeNodeLabelSettings();"> Disable node labels
              </label>
              <label>
                <input id="optionsShowEdgeLabelsCheckbox" type="checkbox" value="" onchange="changeEdgeLabelSettings();"> Disable edge labels
              </label>
            </div>
            <div class="form-check">
              <div class="dropdown-divider"></div>
              <label>
                <input type="checkbox" value=""> Autosave
              </label>
            </div>
          </div>
        </li>
        <!-- Help dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Help
          </a>
          <div class="dropdown-menu" aria-labelledby="menuDropdown">

           <a class="dropdown-item" href="#">User guide</a></a>
           <a class="dropdown-item" href="#">Keyboard shortcuts</a>
           <a class="dropdown-item" href="#" onclick="testFunc();">Test Function</a>
         </div>
        </li>
        <!-- About dropdown menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="menuDropdown">

          <a class="dropdown-item" href="https://github.com/Sicarius154/GraphZoom">Repository</a></a>
          <a class="dropdown-item" href="#">Contact</a>
        </div>
        </li><!--
        <li class="nav-item">
          <a class="nav-link" href="#">Btn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Btn</a>
        </li>-->
      </ul>
    </div>
  </nav>
  <!-- The area below the navbar, this will contain the left-hand panel and the graph area -->
  <div class="container-fluid" style="height:100vh;">
    <div class="row" style="height:100vh;">
      <!-- The hex value is the same color as the nav bar, don't edit it -->
      <div id="left-hand-panel" class="col-sm-3 col-md-3 col-bg-3 no-float" style="background-color: #212529;">
        <br/>
        <!-- Allows the user to specify what type of graph this is so that the correct operations are performed -->
        <p class="text-center" style="color: white">Graph Type</p>
        <div class="form-group input-group input-group-sm mb-3">
          <label onchange="graphRadioChanged();" style="width:50%;color:white;"><input name="graphRadios" id="isGraphRadio" type="radio" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" checked="false">Graph</label>
          <label onchange="graphRadioChanged();" style="width:50%;color:white;"><input name="graphRadios" id="isPosetRadio" type="radio" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" checked="true">Poset</label>
        </div>
        <br />
        <!-- The ID area of each element, contains a label and a form input for the value -->
        <p class="text-center"style="color: white">Information Area</p>
        <div class="input-group input-group-sm mb-3" role="group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Element ID</span>
          </div>
          <input id ="idInputTextArea" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <!-- This shows the label on the element -->
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Label</span>
          </div>
          <input id ="labelTextInputArea" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"  onchange="labelAreaChangedEvt();">
        </div>

        <br />
        <div id="findElementSearchArea" class="text-center">
          <p class="text-center" style="color: white">Search For An Element</p>

        <!-- Used to find an element that matches all criteria input-->
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Element ID</span>
          </div>
          <input id ="findElementIdTextArea" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Element Label</span>
          </div>
          <input id ="findElementlabelTextArea" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button id="findElementSearchButton" onclick="searchForElements();" class="btn btn-primary">Search</button>

      </div>

      <br />
      <div id="createRelationArea" class="text-center">
        <p class="text-center" style="color: white">Create A Relation</p>

      <!-- Used to create relations-->
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Relation Name</span>
        </div>
        <input id ="relationNameTextArea" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Pairs</span>
        </div>
        <input id ="relationPairsTextArea" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>
      <button id="findElementSearchButton" onclick="addPairToRelationData();" class="btn btn-primary">Add</button>
      <button id="findElementSearchButton" onclick="sendRelationDataToServer();" class="btn btn-primary">Save</button>

    </div>
      </div>
      <!-- This is the area that the graph will be drawn in, do not alter this -->
      <div id="graph-area" class="col-sm-9 col-md-9 col-bg-9 no-float" >

      </div>
    </div>
  </div>

</body>
</html>
